<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902406416440-ub18ggoomed1tuvpr1br1ee4la98f2ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902406416440-ub18ggoomed1tuvpr1br1ee4la98f2ca</string>
	<key>API_KEY</key>
	<string>AIzaSyDBJ5RGp4JY8c06gRfqio0hFpgZpU5pjUg</string>
	<key>GCM_SENDER_ID</key>
	<string>902406416440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.Fluent.app</string>
	<key>PROJECT_ID</key>
	<string>beeefluent</string>
	<key>STORAGE_BUCKET</key>
	<string>beeefluent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902406416440:ios:bc706e848cea44e1131ecd</string>
</dict>
</plist>